<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="assets\traintick.css">
        <title>Registration page</title>
        <style>
          * {
            box-sizing: border-box;
          }
          
          body {
            background-image: url("https://images.unsplash.com/photo-1541427468627-a89a96e5ca1d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8dHJhaW58ZW58MHx8MHx8&w=1000&q=80");
            background-color: #f1f1f1;
            background-size: 100% 100%;
            
          }
          /* img{
            width: 100%;
            height: 100%;
          } */
          
          #regForm {
            background-color: #47464696;
            margin: 100px auto;
            font-family: Raleway;
            padding: 40px;
            width: 70%;
            min-width: 300px;
            height: auto;
            /* opacity: 1.0; */
          }
          
          h1 {
            text-align: center;  
          }
          
          input {
            padding: 10px;
            width: 100%;
            font-size: 17px;
            font-family: Raleway;
            border: 1px solid #aaaaaa;
          }
          
          input.invalid {
            background-color: #ffdddd;
          }
          

          
          button {
            background-color: #04AA6D;
            color: #ffffff;
            border: none;
            padding: 10px 20px;
            font-size: 17px;
            font-family: Raleway;
            cursor: pointer;
          }
          
          button:hover {
            opacity: 0.8;
          }
          
          #prevBtn {
            background-color: #bbbbbb;
          }
          
          .step {
            height: 15px;
            width: 15px;
            margin: 0 2px;
            background-color: #bbbbbb;
            border: none;  
            border-radius: 50%;
            display: inline-block;
            opacity: 0.5;
          }
          
          .step.active {
            opacity: 1;
          }
          
          .step.finish {
            background-color: #04AA6D;
          }
          .drop_btn {
            background-color: #3498DB;
            color: white;
            padding: 16px;
            font-size: 16px;
            border: none;
            cursor: pointer;
          }
          
          .drop_btn:hover, .drop_btn:focus {
            background-color: #2980B9;
          }
          
          .drop_down {
            position: relative;
            display: inline-block;
          }
          
          .dropdown_content {
            display: none;
            position: absolute;
            background-color: #f1f1f1;
            min-width: 160px;
            overflow: auto;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
          }
          
          .dropdown_content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
          }
          
          .drop_down a:hover {background-color: #ddd;}
          
          .show {display: block;}
          
          .drop_down:hover .dropdown_content {display: block;}
          
          .drop_down:hover .drop_btn {background-color: #3e8e41;}
          
          #address{
            width: 900px;
            padding: 20px;
            background-color: white;
            -webkit-box-align: center;
            margin: auto;
          }
          
          .sizy{
            width: 852px;
            text-align: center;
          }
          
          input::-webkit-inner-spin-button {
              -webkit-appearance: none;
          }

          .opt{
            padding: 10px;
            width: 100%;
            font-size: 17px;
            font-family: Raleway;
            border: 1px solid #aaaaaa;
          }
          @import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Roboto');


/* === BASE HEADING === */ 

.four h1 {
  text-align: center;
  padding-bottom: 0.7em;
}
.four h1 span {
  font-weight: 300;
  word-spacing: 3px;
  line-height: 2em;
  padding-bottom: 0.35em;
  color: rgba(0, 0, 0, 0.5);
}
.four h1:before {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 60px;
  height: 1px;
  content: "";
  left: 50%;
  margin-left: -30px;
  background-color: #777;
}

.opi{
    display: inline;
}
          
          
          
      </style>
    </head>
<body>
    <div class="tab">
        <form id="regForm" method="POST" action="/r?_method=PATCH"  >
          <h1>Passenger And Ticket Details</h1>
          <label for="availid" ><strong>Choose a trainid:</strong></label>
          <select id="availid" name="availid">
            <%   if(typeof message.user != "undefined" && message.user) { %>
             <% for(let i=0;i<message.user.length;i++){ %>
         <option value="<%= `${message.user[i].availid}` %>"><%= `${message.user[i].availid}` %></option>
         
        
          <% } %>
          <% } %>
        
          </select>
       
          <label for="">Number of Tickets</label>
         
          <select id="seatstype" name="number">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
          </select><br>
          <label for=""><strong> Choose a class:</strong></label>
          <select id="seatstype" name="seatstype">
          
            <option value="seater">seater</option>
            <option value="sleeperac">sleeperac</option>
            <option value="sleepernonac">sleepernonac</option>
          </select><br>
        <strong>Personal details:</strong>
        <p><input placeholder="First name"  name="fname"></p>
        <p><input placeholder="Middle name" name="mname"></p>
        <p><input placeholder="Last name" name="lname"></p>
          <label for="occupation"><strong> Occupation:</strong></label>
          <select class="opt"  name="occupation">
            <option class="opt" value="government">Government</option>
            <option class="opt" value="public">Public</option>
            <option class="opt" value="private">Private</option>
            <option class="opt" value="professional">Professional</option>
            <option class="opt" value="selfemployed">Self-Employed</option>
            <option class="opt" value="student">Student</option>
            <option class="opt" value="other">Other</option>
          </select>
          <br><br>
    
          <label for="dateofbirth"><strong>Date of Birth:</strong> </label>
          <input type="date" name="DOB" placeholder="Date of Birth">
          <br>
         
    
       
        <br>
        <select class="opt" name="sex">
            <option class="opt" selected>Select your gender</option>
            <option class="opt" value="Male">Male</option>
            <option class="opt" value="Female">Female</option>
            <option class="opt" value="Transgender">Transgender</option>
          </select>
        <br><br>
    
        <p><input type="email" name="email" placeholder="Email" ></p>
        <p><input type="number" name="mobileno" placeholder="Mobile number"></p>
        <strong>Address:</strong>
        <p><input placeholder="Flat/Door/Block No." name="fno"></p>
        <p><input placeholder="Street/Lane" name="lane"></p>
        <p><input placeholder="Area/Locality" name="area"></p>
        <p><input placeholder="State"  name="state"></p>
        <p ><input placeholder="Pincode" name="pincode"></p>
        <p><input placeholder="City"  name="city"></p>
         <%   if(typeof message.loss != "undefined" && message.loss) { %>
    
          <div class="mt-5 mb-3">
    
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
    
              <strong><%=  message.loss  %></strong>
    
             
    
            </div>
    
          </div> 
    
        <% }    %>
     <div class="shreyas" style="width: 50%; margin-bottom: 9px; margin-left: 0; display: flex;">
      <div class="op">
        <input type="submit" class="btn btn-outline-primary" value="CONFIRM TICKET" style="background-color: #eb4d4d; width: 100%; margin-left: 30px;color: black; ">
      </div>
    </form>
    <form action ="/home" method="get">
    <input type="submit" class="btn btn-outline-primary" value="HOME" style="background-color:#eb4d4d; width: 50%; margin-left: 300px; color: black;">
     </form>
    </div>
      </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
    </html>
    
    
    
     
</body>
</html>